{# @author    Matthias Genzmehr #}
{# @copyright 2024 Universitätsbibliothek Mainz #}
{# @version   1.0 #}

{% extends 'HDS2/base.html' %}
{% block form %}
<div class="row">
    <div class="mainbody col-md-9 col-md-push-3">

        <div class="tab-content">

            {% if exception == "HRID" %}
                <h2 class = "beforeHeadingUpgrade" tabindex = "0">{{ _("hrid_exception_head") }}</h2>
                <div class="grid">
                    <div class="adv-group group well row" id="group1">
                        <div class="col-sm-12 request-form-margin">
                            {% if error %}
                                <span class="form-text">{{ _("hrid_exception_message") }}: {{ error["hrid"] }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elif exception == "Environment" %}
                <h2 class = "beforeHeadingUpgrade" tabindex = "0">{{ _("env_exception_head") }}</h2>
                <div class="grid">
                    <div class="adv-group group well row" id="group1">
                        <div class="col-sm-12 request-form-margin">
                            {% if error %}
                                <span class="form-text">{{ _("env_exception_message_1") }} {{ error["envName"] }} {{ _("env_exception_message_2") }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elif exception == "ExternalSystemId" %}
                <h2 class = "beforeHeadingUpgrade" tabindex = "0">{{ _("exsysid_exception_head") }}</h2>
                <div class="grid">
                    <div class="adv-group group well row" id="group1">
                        <div class="col-sm-12 request-form-margin">
                            {% if error %}
                                <span class="form-text">{{ _("exsysid_exception_message") }}: {{ error["externalSystemId"] }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elif exception == "Barcode" %}
                <h2 class = "beforeHeadingUpgrade" tabindex = "0">{{ _("barcode_exception_head") }}</h2>
                <div class="grid">
                    <div class="adv-group group well row" id="group1">
                        <div class="col-sm-12 request-form-margin">
                            {% if error %}
                                <span class="form-text">{{ _("barcode_exception_message") }}: {{ error["barcode"] }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elif exception == "UUID" %}
                <h2 class = "beforeHeadingUpgrade" tabindex = "0">{{ _("session_exception_head") }}</h2>
                <div class="grid">
                    <div class="adv-group group well row" id="group1">
                        <div class="col-sm-12 request-form-margin">
                            {% if error %}
                                <span class="form-text">{{ _("session_exception_message") }}</span><br/>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elif exception == "NotFound" %}
                <h2 class = "beforeHeadingUpgrade" tabindex = "0">{{ _("notfound_exception_head") }}</h2>
                <div class="grid">
                    <div class="adv-group group well row" id="group1">
                        <div class="col-sm-12 request-form-margin">
                            {% if error %}
                                <span class="form-text">{{ _("notfound_exception_message") }}:</span><br/><br/>
                                <span>{{ error["type"] }}: {{ error["id"] }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elif exception == "ServicePoint" %}
                <h2 class = "beforeHeadingUpgrade" tabindex = "0">{{ _("servicepoint_exception_head") }}</h2>
                <div class="grid">
                    <div class="adv-group group well row" id="group1">
                        <div class="col-sm-12 request-form-margin">
                            {% if error %}
                                <span class="form-text">{{ _("servicepoint_exception_message") }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elif exception == "Item" or exception == "Request" %}
                <h2 class = "beforeHeadingUpgrade" tabindex = "0">{{ _("invalid_data_exception_head") }}</h2>
                <div class="grid">
                    <div class="adv-group group well row" id="group1">
                        <div class="col-sm-12 request-form-margin">
                            {% if error %}
                                <span class="form-text">{{ _("invalid_data_exception_message") }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elif exception == "FOLIOError" %}
                <h2 class = "beforeHeadingUpgrade" tabindex = "0">{{ _("message") }}</h2>
                <div class="grid">
                    <div class="adv-group group well row" id="group1">
                        <div class="col-sm-12 request-form-margin">
                            {% if error and error["code"] == "ITEM_ALREADY_REQUESTED" %}
                                <span class="form-text">{{ _("one_request_only") }}</span>
                            {% elif error and error["code"] == "NO_CODE" and error["message"] %}
                                <span class="form-text">{{ _("Error") }}: {{ error["message"] }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elif exception == "HTTP" %}
                <h2 class = "beforeHeadingUpgrade" tabindex = "0">{{ _("http_exception_head") }}</h2>
                <div class="grid">
                    <div class="adv-group group well row" id="group1">
                        <div class="col-sm-12 request-form-margin">
                            {% if error["status_code"] == 400 %}
                                <span class="form-text">HTTP 400 (Bad Request) - {{ _("http_400_message") }} :/</span>
                            {% elif error["status_code"] == 401 %}
                                <span class="form-text">HTTP 401 (Unauthorized) - {{ _("http_401_message") }} :/ </span>
                            {% elif error["status_code"] == 403 %}
                                <span class="form-text">HTTP 403 (Forbidden) - {{ _("http_403_message") }} :/ </span>
                            {% elif error["status_code"] == 404 %}
                                <span class="form-text">HTTP 404 (Not Found) - {{ _("http_404_message") }} :/</span>
                            {% elif error["status_code"] == 500 %}
                                <span class="form-text">HTTP 500 (Internal Server Error) - {{ _("http_500_message") }} :/</span>
                            {% else %}
                                <span class="form-text">{{ _("http_exception_head") }}: {{ _("http_exception_message") }} :/</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elif exception == "Connection" %}
                <h2 class = "beforeHeadingUpgrade" tabindex = "0">{{ _("connection_exception_head") }}</h2>
                <div class="grid">
                    <div class="adv-group group well row" id="group1">
                        <div class="col-sm-12 request-form-margin">
                            {% if error %}
                                <span class="form-text">{{ _("connection_exception_message") }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elif exception == "Base" %}
                <h2 class = "beforeHeadingUpgrade" tabindex = "0">{{ _("Fehler") }}</h2>
                <div class="grid">
                    <div class="adv-group group well row" id="group1">
                        <div class="col-sm-12 request-form-margin">
                            {% if error %}
                                <span class="form-text">{{ _("error_occured") }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <h2 class = "beforeHeadingUpgrade" tabindex = "0">{{ _("Else") }}</h2>
                <div class="grid">
                    <div class="adv-group group well row" id="group1">
                        <div class="col-sm-12 request-form-margin">
                            {% if error %}
                                <span class="form-text">{{ _("Hier wohnt Else.") }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="grid">
                <div class="adv-group group well row" id="group1">
                    <div class="col-sm-12 request-form-margin">
                        <span class="form-text">{{ _("contact_your_library") }}: {{ _("ub_mail") }}</span>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="clearfix"><br/><br/></div>
            <div class="row"></div>
        </div>

    </div><!-- mainbody -->
</div><!-- row -->
{% endblock %}
