{# @author    Matthias Genzmehr #}
{# @copyright 2024 Universitätsbibliothek Mainz #}
{# @version   1.0 #}

{% extends 'RAW/base.html' %}
{% block form %}
    <fieldset class="">
        {% if exception == "HRID" %}
            <legend>{{ _("hrid_exception_head") }}: </legend>
            {% if error %}
                <h3>{{ _("hrid_exception_message") }}: {{ error["hrid"] }}</h3>
            {% endif %}
        {% elif exception == "Environment" %}
            <legend>{{ _("env_exception_head") }}: </legend>
            {% if error %}
                <h3>{{ _("env_exception_message_1") }} {{ error["envName"] }} {{ _("env_exception_message_2") }}</h3>
            {% endif %}
        {% elif exception == "ExternalSystemId" %}
            <legend>{{ _("exsysid_exception_head") }}: </legend>
            {% if error %}
                <h3>{{ _("exsysid_exception_message") }}: {{ error["externalSystemId"] }}</h3>
            {% endif %}
        {% elif exception == "Barcode" %}
            <legend>{{ _("barcode_exception_head") }}: </legend>
            {% if error %}
                <h3>{{ _("barcode_exception_message") }}: {{ error["barcode"] }}</h3>
            {% endif %}
        {% elif exception == "UUID" %}
            <legend>{{ _("session_exception_head") }}: </legend>
            {% if error %}
                <h3>{{ _("session_exception_message") }}</h3>
            {% endif %}
        {% elif exception == "NotFound" %}
            <legend>{{ _("notfound_exception_head") }}: </legend>
            {% if error %}
                <h3>{{ _("notfound_exception_message") }}: {{ error["type"] }}: {{ error["id"] }}</h3>
            {% endif %}
        {% elif exception == "ServicePoint" %}
            <legend>{{ _("servicepoint_exception_head") }}: </legend>
            {% if error %}
                <h3>{{ _("servicepoint_exception_message") }}</h3>
            {% endif %}
        {% elif exception == "Item" or exception == "Request" %}
            <legend>{{ _("invalid_data_exception_head") }}: </legend>
                <h3>{{ _("invalid_data_exception_message") }}</h3>
        {% elif exception == "FOLIOError" %}
            <legend>{{ _("message") }}: </legend>
            {% if error and error["code"] == "ITEM_ALREADY_REQUESTED" %}
                <h3>{{ _("one_request_only") }}</h3>
            {% elif error and error["code"] == "NO_CODE" and error["message"] %}
                <h3>{{ _("error") }}: {{ error["message"] }}</h3>
            {% endif %}
        {% elif exception == "HTTP" %}
            <legend>{{ _("http_exception_head") }}: </legend>
                {% if error["status_code"] == 400 %}
                    <h3>HTTP 400 (Bad Request) - {{ _("http_400_message") }} :/</h3>
                {% elif error["status_code"] == 401 %}
                    <h3>HTTP 401 (Unauthorized) - {{ _("http_401_message") }} :/</h3>
                {% elif error["status_code"] == 403 %}
                    <h3>HTTP 403 (Forbidden) - {{ _("http_403_message") }} :/</h3>
                {% elif error["status_code"] == 404 %}
                    <h3>HTTP 404 (Not Found) - {{ _("http_404_message") }} :/</h3>
                {% elif error["status_code"] == 500 %}
                    <h3>HTTP 500 (Internal Server Error) - {{ _("http_500_message") }} :/</h3>
                {% else %}
                    <h3>{{ _("http_exception_head") }}: {{ _("http_exception_message") }} :/</h3>
                {% endif %}
        {% elif exception == "Connection" %}
            <legend>{{ _("connection_exception_head") }}: </legend>
            <h3>{{ _("connection_exception_message") }}</h3>
        {% elif exception == "Base" %}
            <legend>{{ _("Fehler") }}: </legend>
            <h3>{{ _("error_occured") }}</h3>
        {% else %}
            <legend>{{ _("Else") }}: </legend>
            <h3>{{ _("Hier wohnt Else.") }}</h3>
        {% endif %}
        <p>{{ _("contact_your_library") }}:</p>
        <p>{{ _("ub_mail") }}</p>
    </fieldset>
{% endblock %}
