{# @author    Matthias Genzmehr #}
{# @copyright 2024 Universitätsbibliothek Mainz #}
{# @version   1.0 #}

{% extends 'RAW/base.html' %}
{% block form %}
    <form method="post" action="{% if config.ENDPOINT %}/{{ config.ENDPOINT }}{% endif %}/create" name="" class="" id="">

        {% if error %}
        <fieldset class="" id="">
            <p style="color:red">{{ _("choose_pickup_location") }}</p>
        </fieldset>
        {% endif %}

        <fieldset class="">
            <legend>{{ _("Benutzer") }}: </legend>
            {#<legend>{{ _("Benutzer") }}: {% if user %}{{ user['id'] }}{% endif %}</legend><!-- uncomment if you want to see the UUID of the user -->#}
            {#<label>{{ _("Anmeldename") }}: </label><div class="">{% if user %}{{ user['username'] }}{% endif %}</div><br/>#}
            <label>{{ _("Barcode") }}: </label><div class="">{% if user %}{{ user['barcode'] }}{% endif %}</div><br/>
            <label>{{ _("Name") }}: </label><div class="">{% if user %}{{ user['personal']['lastName'] }}{% endif %}, {% if user %}{{ user['personal']['firstName'] }}{% endif %}</div><br/>
            <label>{{ _("E-Mail") }}: </label><div class="">{% if user %}{{ user['personal']['email'] }}{% endif %}</div><br/>
        </fieldset>

        <fieldset class="">
            <legend>{{ _("Theke f&uuml;r Abholung") }}: </legend>
            {% if servicepoints and servicepoints|length() > 0 %}
                {% for servicePoint in servicepoints %}
                    <div class="">
                    <input type="radio" name="servicePoint" id="{{ servicePoint.id[:8] }}" value="{{ servicePoint.id }}" />
                    <label for="{{ servicePoint.id[:8] }}" id="label_{{ servicePoint.id[:8] }}">{{ servicePoint.name }}</label>
                    </div><br/>
                {% else %}
                    <div class="">
                        {{ _("Keine Theken verfügbar.") }}
                    </div><br/>
                {% endfor %}
            {% else %}
                <div class="">
                    {{ _("Keine Theken verfügbar.") }}
                </div><br/>
            {% endif %}
        </fieldset>

        <fieldset class="">
            <p style="text-align:center;">
                <input type="hidden" name="hrid" value="{% if item %}{{ item.hrid }}{% endif %}" />
                <input type="hidden" name="id" value="{% if item %}{{ item.id }}{% endif %}" />
                <input type="hidden" name="barcode" value="{% if user %}{{ user['barcode'] }}{% endif %}" />
                <input type="hidden" name="looknfeel" value="{% if looknfeel %}{{ looknfeel }}{% endif %}" />
                <input type="hidden" name="language" value="{% if language %}{{ language }}{% endif %}" />
                <input type="hidden" name="session" value="{% if session %}{{ session }}{% endif %}" />
                <input type="submit" class="" id="submit" value="{{ _('Bestandsanfrage senden') }}" />
            </p>
            <p style="text-align:center; font-size:11px;">{{ _("duty_field_hint") }}</p>
        </fieldset>

        <p>{{ _("pickup_hint") }}</p>
    </form>
{% endblock %}
