/__pycache__
/.venv
/*.log
/*.txt
/folio/__pycache__
/folio/entities/__pycache__
/folio/values/__pycache__
/theapp/__pycache__
/theapp/config.py
/theapp/logic/__pycache__
/theapp/translations/de/LC_MESSAGES/messages.mo
/theapp/translations/en/LC_MESSAGES/messages.mo
/user/__pycache__
/user/values/__pycache__
/config.py
/connection.ini
