#
# @author    Matthias Genzmehr
# @copyright 2024 Universitätsbibliothek Mainz
# @version   1.0
#

ENDPOINT = "request"

CONNECTION_INI = "connection.ini"

# Definition der externalSystemId (z.B.: Barcode => 12 Digits)
EXTERNAL_SYSTEM_ID_REGEX = "^\\d{12}$"
# Server Umgebungsvariable mit der externalSystemId (z.B.: Feld in Shibboleth)
EXTERNAL_SYSTEM_ID_ENV = "HTTP_BARCODE"

LOGFILE_PATH = "/var/log/request-form/"

SESSION_LOG = LOGFILE_PATH + "session.app.log"
DEBUG_LOG   = LOGFILE_PATH + "debug.app.log"
ERROR_LOG   = LOGFILE_PATH + "error.app.log"

HDS2_DOMAIN = "https://domain.hebis.de/"

HDS2_HOME_URL    = HDS2_DOMAIN + "main/ubxyz/"
HDS2_ACCOUNT_URL = HDS2_HOME_URL + "MyResearch/Home"
HDS2_HOLDS_URL   = HDS2_HOME_URL + "MyResearch/Holds"
