[connection]
  #okapi_url=https://folio.domain.de/
  #url_auth_login=https://folio.domain.de/authn/login
  #tenant_id=
  #username=
  #password=

  #okapi_url=https://folio-test.domain.de/okapi/
  #url_auth_login=https://folio-test.domain.de/okapi/authn/login
  #tenant_id=
  #username=
  #password=

  okapi_url=https://folio-playground.domain.de/okapi/
  url_auth_login=https://folio-playground.domain.de/okapi/authn/login
  tenant_id=
  username=
  password=
