# !!! Configure the connection to your FOLIO instance in this file!
#
# Note: The script user <username> needs the access rights to all okapi endpoints
# and methods that are used in the script. Especially the permission for
#
#     inventory-storage.items.item.post
#
# may be missing and is a precedent condition to create a new item in FOLIO.
# Please configure your script user <username> in FOLIO. To set all the required
# permissions it may be necessary to turn on the invisible permissions
# (https://folio.your-domain.de/settings/developer/configuration) first.
#
# To run the request-form script the following permissions are required:
#
# Permission:                                     Label (in FOLIO):
#
# circulation.requests.allowed-service-points.get ("circulation - get allowed pickup service points for request")
# circulation.requests.item.post                  ("circulation - create individual requests")
# inventory.items.collection.get                  ("Inventory - get item collection")
# inventory.items.item.delete                     ("Inventory - delete individual item")
# inventory.items.item.get                        ("Inventory - get individual item")
# inventory-storage.holdings.item.get             ("inventory storage - get individual holdings record")
# inventory-storage.items.item.post               ("inventory storage - create individual item")
# users.collection.get                            ("users collection get")
#

[connection]
  okapi_url=https://folio.domain.de/
  url_auth_login=https://folio.domain.de/authn/login
  tenant_id=
  username=
  password=

  #okapi_url=https://folio-test.domain.de/okapi/
  #url_auth_login=https://folio-test.domain.de/okapi/authn/login
  #tenant_id=
  #username=
  #password=

  #okapi_url=https://folio-playground.domain.de/okapi/
  #url_auth_login=https://folio-playground.domain.de/okapi/authn/login
  #tenant_id=
  #username=
  #password=
