<!DOCTYPE html>
{# @author    Matthias Genzmehr #}
{# @copyright 2024 Universitätsbibliothek Mainz #}
{# @version   1.0 #}
<html dir="ltr" lang="de_DE" xml:lang="de_DE">
<head>
    <title>Leihschein</title>
    <link rel="stylesheet" href="..{% if config.ENDPOINT %}/{{ config.ENDPOINT }}{% endif %}/static/style.css" media="all" type="text/css" />
    <link rel="icon" href="..{% if config.ENDPOINT %}/{{ config.ENDPOINT }}{% endif %}/static/img/favicon.ico" type="image/vnd.microsoft.icon" />
</head>
<body>
    <table width="100%" border="0" cellpadding="3" cellspacing="0">
        <tr>
            <td align="center" bgcolor="#cccccc" colspan="2"><span class="lbs"><!-- Lokalsystem Rheinhessen: Universit&auml;t Mainz -->&nbsp;</span></td>
        </tr>
        
        <tr>
            <td align="left" width="28%"><a href="http://www.ub.uni-mainz.de/" target="_blank"><img src="..{% if config.ENDPOINT %}/{{ config.ENDPOINT }}{% endif %}/static/img/logo_ubmz.png" alt="Universit&auml;t Mainz" name="logo_ubmz" width="142" height="142" border="0" hspace="0" vspace="0" /></a></td>
            <td width="72%"><span class="ueberschrift">Universit&auml;tsbibliothek: Elektronischer Leihschein f&uuml;r Zeitschriften</span></td>
        </tr>
        <tr>
            <td bgcolor="#c1012a" colspan="2">&nbsp;</td>
        </tr>
    </table>
    {% block form %}{% endblock %}
</body>
</html>
