{# @author    Matthias Genzmehr #}
{# @copyright 2024 Universitätsbibliothek Mainz #}
{# @version   1.0 #}

{% extends 'OPAC/base.html' %}
{% block form %}
    <table width="100%" border="0" cellpadding="3" cellspacing="0" span class="top1">
        <tr>
            <td width="114px" bgcolor="#cccccc" valign="top" align="center">&nbsp;<br/><a href="javascript:window.close();">Fenster schlie&szlig;en</a><br/>________________</td>
            <td>&nbsp;</td>
            <td valign="top">
                <fieldset class="input">
                    {% if exception == "HRID" %}
                        <legend>HRID Error: </legend>
                        {% if error %}
                            <h3>Die Datensatz ID hat kein gültiges Format: {{ error["hrid"] }}</h3>
                        {% endif %}
                    {% elif exception == "Barcode" %}
                        <legend>Barcode Error: </legend>
                        {% if error %}
                            <h3>Der Barcode hat kein gültiges Format: {{ error["barcode"] }}</h3>
                        {% endif %}
                    {% elif exception == "UUID" %}
                        <legend>Session Error: </legend>
                        {% if error %}
                            <h3>Es ist ein technisches Problem aufgetreten!</h3>
                        {% endif %}
                    {% elif exception == "NotFound" %}
                        <legend>NotFound Error: </legend>
                        {% if error %}
                            <h3>Das Bibliothekssystem enthält das gesuchte Objekt nicht: {{ error["type"] }}: {{ error["id"] }}</h3>
                        {% endif %}
                    {% elif exception == "ServicePoint" %}
                        <legend>ServicePoint Error: </legend>
                        {% if error %}
                            <h3>Bestellung nicht möglich. Es wurde keine Abholtheke gefunden.</h3>
                        {% endif %}
                    {% elif exception == "Item" or exception == "Request" %}
                        <legend>Ungültige Daten: </legend>
                            <h3>Das System versucht ungültige Daten zu senden.</h3>
                    {% elif exception == "FOLIOError" %}
                        <legend>Meldung: </legend>
                        {% if error and error["code"] == "ITEM_ALREADY_REQUESTED" %}
                            <h3>Sie können die Bestandsanfrage nur einmal stellen.</h3>
                        {% elif error and error["code"] == "NO_CODE" and error["message"] %}
                            <h3>Error: {{ error["message"] }}</h3>
                        {% endif %}
                    {% elif exception == "HTTP" %}
                        <legend>HTTP Error: </legend>
                            {% if error["status_code"] == 400 %}
                                <h3>HTTP 400 (Bad Request) - Das Bibliothekssystem kann die Anfrage nicht verarbeiten. :/ </h3>
                            {% elif error["status_code"] == 401 %}
                                <h3>HTTP 401 (Unauthorized) - Zugriff auf das Bibliothekssystem nicht möglich. :/ </h3>
                            {% elif error["status_code"] == 403 %}
                                <h3>HTTP 403 (Forbidden) - Zugriff auf das Bibliothekssystem nicht möglich. :/ </h3>
                            {% elif error["status_code"] == 404 %}
                                <h3>HTTP 404 (Not Found) - Kein Ergebnis für die Anfrage ans Bibliothekssystem. :/</h3>
                            {% elif error["status_code"] == 500 %}
                                <h3>HTTP 500 (Internal Server Error) - Fehler im Bibliothekssystem. :/</h3>
                            {% else %}
                                <h3>HTTP Error: Es gibt ein Problem mit der Verbindung zum Bibliothekssystem. :/</h3>
                            {% endif %}
                    {% elif exception == "Connection" %}
                        <legend>Verbindungsfehler: </legend>
                        <h3>Anmeldung am Bibliothekssystem fehlgeschlagen.</h3>
                    {% elif exception == "Base" %}
                        <legend>Fehler: </legend>
                        <h3>Es ist ein Fehler aufgetreten.</h3>
                    {% else %}
                        <legend>Else: </legend>
                        <h3>Hier wohnt Else.</h3>
                    {% endif %}
                    <p>Bitte wenden Sie sich an die Zentralbibliothek:</p>
                    <p>info@ub.uni-mainz.de</p>
                </fieldset>
            </td>
        </tr>
    </table>
{% endblock %}
