{# @author    Matthias Genzmehr #}
{# @copyright 2024 Universitätsbibliothek Mainz #}
{# @version   1.0 #}

{% extends 'OPAC/base.html' %}
{% block form %}
    <form method="post" action="/{% if config.ENDPOINT %}{{ config.ENDPOINT }}{% endif %}" name="erwerbung" class="" id="">
        <table width="100%" border="0" cellpadding="3" cellspacing="0" span class="top1">
            <tr>
                <td width="114px" bgcolor="#cccccc" valign="top" align="center">&nbsp;<br/><a href="javascript:window.close();">{{ _("Fenster schlie&szlig;en") }}</a><br/>________________</td>
                <td>&nbsp;</td>
                <td valign="top">

                    {% if errors and errors|length() > 0 %}
                        <fieldset class="input" id="meldung">
                            <p>{{ _("bad_input_hint") }}</p>
                        </fieldset>
                    {% endif %}

                    <fieldset class="user">
                        <legend>{{ _("Benutzer") }}: </legend>
                        {#<legend>{{ _("Benutzer") }}: {% if user %}{{ user['id'] }}{% endif %}</legend><!-- uncomment if you want to see the UUID of the user -->#}
                        {#<label>{{ _("Anmeldename") }}: </label><div class="output-wrapper">{% if user %}{{ user['username'] }}{% endif %}</div><br/>#}
                        <label>{{ _("Barcode") }}: </label><div class="output-wrapper">{% if user %}{{ user['barcode'] }}{% endif %}</div><br/>
                        <label>{{ _("Name") }}: </label><div class="output-wrapper">{% if user %}{{ user['personal']['lastName'] }}{% endif %}, {% if user %}{{ user['personal']['firstName'] }}{% endif %}</div><br/>
                        <label>{{ _("E-Mail") }}: </label><div class="output-wrapper">{% if user %}{{ user['personal']['email'] }}{% endif %}</div><br/>
                    </fieldset>

                    <fieldset class="input">
                        <legend>{{ _("Zeitschrift") }}: </legend>
                        {#<legend>{{ _("Zeitschrift") }}: {% if item %}{{ item['id'] }}{% endif %}</legend><!-- uncomment if you want to see the UUID of the journal -->#}
                        <label>{{ _("Titel") }}: </label><div class="output-wrapper">{% if item %}{{ item['title'] }}{% endif %}</div><br/>
                        <label>{{ _("Signatur") }}: </label><div class="output-wrapper">{% if item %}{{ item['callNumber'] }}{% endif %}</div><br/>
                        <label>{{ _("Materialtyp") }}: </label><div class="output-wrapper">{% if item %}{{ item['materialType']['name'] }}{% endif %}</div><br/>
                        <label>{{ _("Ausleihcode") }}: </label><div class="output-wrapper">{% if item %}{{ item['permanentLoanType']['name'] }}{% endif %}</div><br/>
                        <label>{{ _("Bestand") }}: </label><div class="output-wrapper">{% if item %}{{ item['yearCaption'] }}{% endif %}</div><br/>

                        {% if errors and errors['jahrgang'] %}
                            <label for="jahrgangID" id="label_jahrgang" class="error" style="color:red">{{ _("Jahrgang") }}<sup>*</sup>: </label><input type="text" name="jahrgang" id="jahrgangID" maxlength="4" pattern="[1-2]{1}[0-9]{3}" placeholder="z.B.: 2001" value="{{ errors['jahrgang'] }}" autofocus required/><br/>
                        {% elif values and values['jahrgang'] %}
                            <label for="jahrgangID" id="label_jahrgang">{{ _("Jahrgang") }}<sup>*</sup>: </label><input type="text" name="jahrgang" id="jahrgangID" maxlength="4" pattern="[1-2]{1}[0-9]{3}" placeholder="z.B.: 2001" value="{{ values['jahrgang'] }}" autofocus required/><br/>
                        {% else %}
                            <label for="jahrgangID" id="label_jahrgang">{{ _("Jahrgang") }}<sup>*</sup>: </label><input type="text" name="jahrgang" id="jahrgangID" maxlength="4" pattern="[1-2]{1}[0-9]{3}" placeholder="z.B.: 2001" value="" autofocus required/><br/>
                        {% endif %}

                        {% if errors and errors['band'] %}
                            <label for="bandID" id="label_band" class="error" style="color:red">{{ _("Band") }}: </label><input type="text" name="band" id="bandID" maxlength="40" placeholder="z.B.: 3" value="{{ errors['band'] }}" /><br/>
                        {% elif values and values['band'] %}
                            <label for="bandID" id="label_band">{{ _("Band") }}: </label><input type="text" name="band" id="bandID" maxlength="40" placeholder="z.B.: 3" value="{{ values['band'] }}" /><br/>
                        {% else %}
                            <label for="bandID" id="label_band">{{ _("Band") }}: </label><input type="text" name="band" id="bandID" maxlength="40" placeholder="z.B.: 3" value="" /><br/>
                        {% endif %}

                        {% if errors and errors['seitenzahl'] %}
                            <label for="seitenzahlID" id="label_seitenzahl" class="error" style="color:red">{{ _("Seitenzahl") }}: </label><input type="text" name="seitenzahl" id="seitenzahlID" maxlength="40" placeholder="z.B.: S. 11-19 / 4.3.2001" value="{{ errors['seitenzahl'] }}" /><br/>
                        {% elif values and values['seitenzahl'] %}
                            <label for="seitenzahlID" id="label_seitenzahl">{{ _("Seitenzahl") }}: </label><input type="text" name="seitenzahl" id="seitenzahlID" maxlength="40" placeholder="z.B.: S. 11-19 / 4.3.2001" value="{{ values['seitenzahl'] }}" /><br/>
                        {% else %}
                            <label for="seitenzahlID" id="label_seitenzahl">{{ _("Seitenzahl") }}: </label><input type="text" name="seitenzahl" id="seitenzahlID" maxlength="40" placeholder="z.B.: S. 11-19 / 4.3.2001" value="" /><br/>
                        {% endif %}
                    </fieldset>

                    <fieldset>
                        <p style="text-align:center;">
                            <input type="hidden" name="id" value="{% if item %}{{ item.id }}{% endif %}" />
                            <input type="hidden" name="barcode" value="{% if user %}{{ user['barcode'] }}{% endif %}" />
                            <input type="hidden" name="looknfeel" value="{% if looknfeel %}{{ looknfeel }}{% endif %}" />
                            <input type="hidden" name="language" value="{% if language %}{{ language }}{% endif %}" />
                            <input type="hidden" name="session" value="{% if session %}{{ session }}{% endif %}" />
                            <input type="button" class="" id="reset" onClick="resetAll();" value="{{ _('Formular zur&uuml;cksetzen') }}" />
                            <input type="submit" class="" id="submit" value="{{ _('weiter >>') }}" />
                        </p>
                        <p style="text-align:center; font-size:11px;">{{ _("duty_field_hint") }}</p>
                    </fieldset>

                    <p class="hinweis">{{ _("pickup_hint") }}</p>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
