{# @author    Matthias Genzmehr #}
{# @copyright 2024 Universitätsbibliothek Mainz #}
{# @version   1.0 #}

{% extends 'OPAC/base.html' %}
{% block form %}
    <table width="100%" border="0" cellpadding="3" cellspacing="0" span class="top1">
        <tr>
            <td width="114px" bgcolor="#cccccc" valign="top" align="center">&nbsp;<br/><a href="javascript:window.close();">{{ _("Fenster schlie&szlig;en") }}</a><br/>________________</td>
            <td>&nbsp;</td>
            <td valign="top">
                <fieldset class="input">
                    {% if request %}
                        <legend>{{ _("Bestandsanfrage") }}: {{ request["id"] }}</legend>
                        <h1></h1>
                        <p><b>{{ _("Bestellter Titel") }}:</b></p>
                        <p>{{ request["instance"]["title"] }}</p>
                        <p>{{ request["item"]["chronology"] }}</p>
                        <p><b>{{ _("Benutzer") }}:</b></p>
                        <p>{{ request["requester"]["lastName"] }}, {{ request["requester"]["firstName"] }} (Barcode {{ request["requester"]["barcode"] }})</p>
                        <p><b>{{ _("Ihr Standort für die Abholung") }}:</b></p>
                        <p>{{ request["pickupServicePoint"]["discoveryDisplayName"] }}</p>
                        <p></p>
                    {% endif %}
                </fieldset>
            </td>
        </tr>
    </table>
{% endblock %}
